!Assignment_ver_1.c
ForksPipes1.c
ForksPipes2.c
ForksPipes3
ForksPipes3_MultiChilds
ForksPipes3_MultiChilds.c
ForksPipes3.c
ForksPipes4
ForksPipes4.c
MotorX.c
Test.exe
TestAssignment.exe
TestDlaMacieja
TestDlaMacieja.c
Untitled-1.c
build/Debug/Assignment_ver_1.o
build/Debug/ForksPipes1.o
build/Debug/ForksPipes2.o
build/Debug/ForksPipes3_MultiChilds.o
build/Debug/ForksPipes3.o
build/Debug/ForksPipes4.o
build/Debug/TestDlaMacieja.o
build/Debug/Untitled-1.o
C_Program/undefined.js
masterProcess.exe
test.c
userConsole.exe
test.exe
